services:
  retrogamelog.api:
    image: ${DOCKER_REGISTRY-}retrogamelogapi
    container_name: RetroGameLogAPI
    build:
      context: .
      dockerfile: RetroGameLog.API/Dockerfile
    depends_on:
        - mssql

  mssql:
     image: mcr.microsoft.com/mssql/server:2022-latest
     container_name: mssql
     environment:
        - ACCEPT_EULA=Y
        - SA_PASSWORD=Admin@1234
     ports:
        - "11433:1433"
     volumes:
        - mssqldata:/var/opt/mssql

  retrogamelogidp:
       image: quay.io/keycloak/keycloak:latest
       container_name: RetroGameLog.IdentityProvider
       command: start-dev --import-realm
       environment:
          - KEYCLOAK_ADMIN=admin
          - KEYCLOAK_ADMIN_PASSWORD=admin
       volumes:
         - ./.containers/identity:/opt/keycloak/data
         - ./.files/keycloak-import:/opt/keycloak/data/import
       ports:
         - 9914:8080   

  retrogamelog-seq:
       image: datalust/seq:latest
       container_name: RetroGameLog.Seq
       environment:
         - ACCEPT_EULA=Y
         - SEQ_FIRSTRUN_ADMINPASSWORD=test
       ports:
         - 5341:5341
         - 7826:80 

  retrogamelog-redis:
       image: redis:latest
       container_name: RetroGameLog.Redis
       restart: always
       ports:
         - 6379:6379

volumes:
  mssqldata:


 